
<<<<<<< HEAD


<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>
=======
<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>
>>>>>>> d3e168dc4cb6f61c023726387244ccd55b7ff4a1
